In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("dulieuxettuyendaihoc.csv")
data.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [3]:
X = data[len(data) - 10: ]
X = pd.DataFrame(X)
X.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [4]:
data.tail(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [5]:
data.fillna(0, inplace = True)
data.tail(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
90,91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,...,8.3,8.7,7.8,M,0.0,2,6.25,4.00,6.50,A
91,92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,...,7.2,7.4,7.0,M,0.0,2NT,4.75,4.75,4.50,A
92,93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,...,5.9,6.7,5.8,M,0.0,1,3.25,5.25,4.25,A
93,94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,...,8.7,7.8,5.0,M,0.0,1,3.50,4.25,5.00,A
94,95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,...,7.3,6.8,5.3,M,0.0,1,4.25,2.50,4.75,A
95,96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,...,6.3,6.1,6.2,F,0.0,1,5.25,1.50,6.25,C
96,97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,...,7.9,7.5,4.4,F,0.0,1,5.25,3.75,4.75,C
97,98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,...,9.6,8.4,5.8,M,0.0,2NT,7.00,8.00,4.00,C
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,0.0,1,5.00,3.50,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,0.0,2NT,5.25,2.50,4.25,C

In [6]:
data["T1"].fillna(data["T1"].mean(), inplace = False)

0     7.2
1     5.4
2     5.6
3     6.6
4     6.0
     ...
95    8.6
96    3.7
97    8.8
98    2.7
99    4.1
Name: T1, Length: 100, dtype: float64

In [7]:
def fillData(data, col): 
    return data[col].fillna(data[col].mean(), inplace = False)

for col in data.columns:
    datatype = str(data[col].dtype)
    if datatype in ["float64", "int64"]:
        fillData(data, col)

In [8]:
'''
TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
'''
for i in ["1", "2", "3"]:
    data["TBM" + i] = np.round(((data["T" + i] * 2) + data["L" + i] + data["H" + i] + data["S" + i] + (data["V" + i] * 2) + data['X' + i] + data['D' + i] + data['N' + i]) / 10, 2)

In [9]:
data.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,F,0.0,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.06
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,M,0.0,1,6.00,4.00,3.50,C,4.69,5.47,4.70
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,M,0.0,1,5.00,6.75,4.00,C,5.77,5.38,4.33
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,M,0.0,1,4.25,4.25,5.25,D1,6.21,5.20,6.03
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,M,0.0,2NT,4.25,4.50,5.00,A,6.50,6.36,7.01
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,M,0.0,1,1.50,4.00,6.00,D1,7.96,8.54,7.82
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,F,0.0,2,6.50,6.75,5.25,C,4.90,5.60,5.24
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,F,0.0,2,3.75,4.50,4.25,D1,6.80,6.87,6.95
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,F,0.0,1,3.50,3.50,6.75,D1,6.23,6.72,6.59
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,F,0.0,1,4.00,4.75,5.50,D1,6.80,7.25,7.12

# Bai 8

In [10]:
def evaluate(score):
    if score < 5.0: return "Y"
    elif 5.0 <= score < 6.5: return "TB"
    elif 6.5 <= score < 8.0: return "K"
    elif 8.0 <= score < 9.0: return "G"
    return "XS"

for i in ["1", "2", "3"]:
    col_name = data["TBM" + i].values
    tmp = []
    for col in col_name: tmp.append(evaluate(col))
    data["XL" + i] = tmp

In [19]:
data.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,DH2,DH3,KT,KQXT,TBM1,TBM2,TBM3,XL1,XL2,XL3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,3.25,4.50,A1,0.0,7.00,7.54,7.06,K,K,K
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.00,3.50,C,0.0,4.69,5.47,4.70,Y,TB,Y
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,6.75,4.00,C,1.0,5.77,5.38,4.33,TB,TB,Y
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,4.25,5.25,D1,0.0,6.21,5.20,6.03,TB,TB,TB
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,4.50,5.00,A,0.0,6.50,6.36,7.01,K,TB,K
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,4.00,6.00,D1,0.0,7.96,8.54,7.82,K,G,K
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,6.75,5.25,C,1.0,4.90,5.60,5.24,Y,TB,TB
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,4.50,4.25,D1,0.0,6.80,6.87,6.95,K,K,K
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,3.50,6.75,D1,0.0,6.23,6.72,6.59,TB,K,K
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,4.75,5.50,D1,0.0,6.80,7.25,7.12,K,K,K

# Bai 9
# Normalization score by using Min Max Normalization

In [11]:
def minMaxScaler(val_fl):
    return np.round((val_fl * 4) / 10, 2)


for i in ["1", "2", "3"]:
    col_name = data[f"TBM{i}"]
    np_arr = np.array(col_name)
    data[f"US_TBM{i}"] = minMaxScaler(np_arr)

In [12]:
data.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,KT,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,A1,7.00,7.54,7.06,K,K,K,2.80,3.02,2.82
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,C,4.69,5.47,4.70,Y,TB,Y,1.88,2.19,1.88
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,C,5.77,5.38,4.33,TB,TB,Y,2.31,2.15,1.73
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,D1,6.21,5.20,6.03,TB,TB,TB,2.48,2.08,2.41
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,A,6.50,6.36,7.01,K,TB,K,2.60,2.54,2.80
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,D1,7.96,8.54,7.82,K,G,K,3.18,3.42,3.13
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,C,4.90,5.60,5.24,Y,TB,TB,1.96,2.24,2.10
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,D1,6.80,6.87,6.95,K,K,K,2.72,2.75,2.78
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,D1,6.23,6.72,6.59,TB,K,K,2.49,2.69,2.64
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,D1,6.80,7.25,7.12,K,K,K,2.72,2.90,2.85

# Bai 10

In [13]:
'''
A = (DH1 * 2 + DH2 + DH3) / 4
B = (DH1 + DH2 * 2 + DH3) / 4
C = (DH1 + DH2 + DH3) / 3
'''
data_KT = data["KT"].values
dh1 = data["DH1"].values
dh2 = data["DH2"].values
dh3 = data["DH3"].values
value = []
for idx in range(len(data_KT)):
    if data_KT[idx] in ["A", "A1"]: value.append(1.0 if (dh1[idx] * 2 + dh2[idx] + dh3[idx]) / 4.0 >= 5.0 else 0.0)
    elif data_KT[idx] == "B": value.append(1.0 if (dh1[idx] + dh2[idx] * 2 + dh3[idx]) / 4.0 >= 5.0 else 0.0)
    else: value.append(1.0 if (dh1[idx] + dh2[idx] + dh3[idx]) / 3.0 >= 5.0 else 0.0)
data["KQXT"] = value

In [14]:
data.head(10)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,TBM1,TBM2,TBM3,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,7.00,7.54,7.06,K,K,K,2.80,3.02,2.82,0.0
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,4.69,5.47,4.70,Y,TB,Y,1.88,2.19,1.88,0.0
2,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,...,5.77,5.38,4.33,TB,TB,Y,2.31,2.15,1.73,1.0
3,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,6.21,5.20,6.03,TB,TB,TB,2.48,2.08,2.41,0.0
4,5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,...,6.50,6.36,7.01,K,TB,K,2.60,2.54,2.80,0.0
5,6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,...,7.96,8.54,7.82,K,G,K,3.18,3.42,3.13,0.0
6,7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,...,4.90,5.60,5.24,Y,TB,TB,1.96,2.24,2.10,1.0
7,8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,...,6.80,6.87,6.95,K,K,K,2.72,2.75,2.78,0.0
8,9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,...,6.23,6.72,6.59,TB,K,K,2.49,2.69,2.64,0.0
9,10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,...,6.80,7.25,7.12,K,K,K,2.72,2.90,2.85,0.0

# Bai 11: Save file csv

In [15]:
data.to_csv("processed_dulieuxettuyendaihoc.csv")